---
import Layout from '@/components/BaseLayout.astro';
import Project from '@/components/Project.astro';
import Blog from '@/components/Blog.astro';
import { getFeatured, type Frontmatters } from '@/scripts/content';
import { loadTranslations } from '@/scripts/translate';

export { getStaticPaths } from '@/scripts/translate';
const { t, locale } = await loadTranslations(Astro);

const posts = getFeatured(await Astro.glob<Frontmatters['blog']>('/content/blog/*.md'), locale);
const projects = getFeatured(await Astro.glob<Frontmatters['project']>('/content/project/*.md'), locale);
---

<Layout>
  <header class="my-20 md:my-24">
    <h1 class="font-bold text-gray-800 dark:text-gray-100 fluid-text-4xl font-hero !leading-[1]">{t.home.title}</h1>
    <p class="text-gray-600 fluid-text-lg !leading-[1.25] md:!leading-[1.4] dark:text-gray-100 my-7">
      {t.home.description}
      <a href="/about" class="font-semibold transition-colors text-sky-600 dark:text-sky-300 hover:text-sky-700 dark:hover:text-sky-200">
        {t.home.moreAbout}...
      </a>
    </p>
  </header>
  <section id="projects" class="my-20">
    <div class="flex justify-between text-lg">
      <h2 class="font-bold text-gray-700 dark:text-gray-200">{t.home.projects}</h2>
      <a href="/projects" class="font-semibold transition-colors text-sky-600 dark:text-sky-300 hover:text-sky-700 dark:hover:text-sky-200">View more</a>
    </div>
    <div class="grid gap-6 my-8 md:grid-cols-2">
      {projects.map((project) => <Project project={project} />)}
    </div>
  </section>
  <section id="projects" class="my-20">
    <div class="flex justify-between text-lg">
      <h2 class="font-bold text-gray-700 dark:text-gray-200">Laatste artikelen</h2>
      <a href="/blog" class="font-semibold transition-colors text-sky-600 dark:text-sky-300 hover:text-sky-700 dark:hover:text-sky-200">View more</a>
    </div>
    <div class="grid gap-6 my-8 md:grid-cols-2">
      {posts.map((post) => <Blog post={post} />)}
    </div>
  </section>
</Layout>
