---
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Layout from '../layouts/Layout.astro';
import { load } from '../scripts/load';

const { translations: t } = await load(Astro);
---

<Layout>
  <Hero />
  <section>
    <div>
      <h2>{t.index.projects}</h2>
      <a href="/projects">{t.index.moreProjects}</a>
    </div>
    <article>
      <h3>{t.beterdanhugo.title} <span><b>308K</b> {t.beterdanhugo.stat}</span></h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor condimentum nibh, quis
        dictum nulla tincidunt quis. Donec et neque dignissim, scelerisque tellus sit amet,
        scelerisque purus.
      </p>
      <a href="/projects">Read more</a>
    </article>
    <article>
      <h3>{t.nieuwindekamer.title} <span><b>2.8K</b> {t.nieuwindekamer.stat}</span></h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor condimentum nibh, quis
        dictum nulla tincidunt quis. Donec et neque dignissim, scelerisque tellus sit amet,
        scelerisque purus.
      </p>
      <a href="/projects">Read more</a>
    </article>
  </section>
</Layout>

<style>
  h2 {
    font-size: 0.875rem;
    color: var(--btn-txt-color);
  }

  h3 {
    font-family: Fraunces, serif;
    font-size: 1.5rem;
    margin-bottom: 0;
    display: flex;
    gap: 1rem;
  }

  span {
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 0.625em;
    background-color: var(--btn-bg-color);
    padding: 0.375rem 0.75rem;
    border-radius: 2rem;
  }

  article {
    margin-bottom: 3rem;
  }

  article > p {
    margin-top: 0.75rem;
  }

  section {
    margin-block: 4rem;
  }

  section > div {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    align-items: center;
  }

  p {
    max-width: 25rem;
  }
</style>
