---
export type Props = { class?: string; width?: number; image?: string; alt?: string };
const { class: classes, width, image, alt } = Astro.props as Props;

const vars = { 'block-width': width ? `${width}rem` : null };
---

<div class={classes} data-image={image ? 'true' : 'false'}>
  {image && <img src={image} alt={alt} />}
  <slot />
</div>

<style define:vars={vars}>
  div {
    background-color: var(--block-color);
    padding: 3rem 4rem;
    width: var(--block-width);
    border-radius: 1rem;
  }

  [data-image='true'] {
    padding: 0;
  }

  img {
    border-radius: 1rem;
    object-fit: contain;
    height: 100%;
    width: 100%;
    width: var(--block-width);
  }
</style>
