---
import tabler from '@iconify-json/tabler/icons.json' assert { type: 'json' };
import twemoji from '@iconify-json/twemoji/icons.json' assert { type: 'json' };
import { getIconData, iconToSVG } from '@iconify/utils';

export type Props = {
  name: `${keyof typeof icons}:${string}`;
  title?: string;
  size?: number;
  [key: string]: any;
};

const icons = { tabler, twemoji };
const { name, size = 20, title, ...restProps } = Astro.props as Props;
const [pack, icon] = name.split(':') as [keyof typeof icons, string];

const iconData = getIconData(icons[pack], icon);
const renderData = iconToSVG(iconData!);

if (pack === 'twemoji') console.log(icon);

const attrs = { ...restProps, ...renderData.attributes };
---

<svg data-icon={name} {...attrs}>
  {title && <title>{title}</title>}
  <Fragment set:html={renderData.body} />
</svg>

<style define:vars={{ size: `${size}px` }}>
  svg {
    font-size: var(--size);
  }
</style>
