---
import ProjectImage from './ProjectImage.astro';
import { state } from '@/scripts/translate';
import { Project, projects } from '@/scripts/types';
import { format } from '@/scripts/utils';
import Icon from 'astro-icon';

export type Props = { name: Project; stat: number };
const { name, stat } = Astro.props;
const t = state.t[name];

const bg = (name: Project) => name === 'bdh' ? 'bg-teal-800' : 'bg-amber-800';
---

<a
  title={t.title}
  id={projects[name]}
  href={`/${projects[name]}`}
  class:list={['block group my-2 shadow dark:shadow-none rounded-lg w-full aspect-square md:aspect-[5/6] max-h-[35rem] md:max-h-full relative overflow-hidden text-gray-50', bg(name)]}
>
  <ProjectImage name={name} class="object-cover w-full h-full transition-all duration-300 ease-out transform group-hover:scale-105 text-white/0" />
  <div class="absolute top-0 w-full h-full p-10 md:max-lg:p-[4vw] bg-gradient-to-b from-black/60">
    <h2 class="pb-1 truncate fluid-text-2xl font-hero">{t.title}</h2>
    <div class="max-w-full px-3 py-1 my-1 overflow-hidden font-semibold truncate rounded shadow-md w-fit backdrop-blur-xl bg-white/10" title={`${format(stat, 'standard')} ${t.stat}`}>
      <b>{format(stat)}</b>
      {t.stat}
    </div>
  </div>
  <Icon name="bi:arrow-right" width={48} class="absolute bottom-0 right-0 w-10 mx-8 my-6 xs:w-12 lg:mx-10" />
</a>
