---
import { state } from '../scripts/translate';
import Button from './Button.astro';
import { Icon } from 'astro-icon';

const { t } = state;

const path = Astro.url.pathname.replace(`/${state.locale}`, '');
const href = `${state.locale === 'en' ? '/nl' : '/en'}${path}`;
---

<toggle-locale>
  <Button href={href} parse={false} type="button" title={t.nav.toggleLocale}>
    <Icon name="tabler:message" height={20} aria-label="Language" />
    <span>{t.nav.otherLocale}</span>
  </Button>
</toggle-locale>

<script>
  import type { Locale } from '../scripts/types';
  import { isLocalized } from '../../middleware';
  import { parseLocale } from '../scripts/types';

  class ToggleLocale extends HTMLElement {
    connectedCallback() {
      this.children[0].outerHTML = this.children[0].outerHTML.replace(/(<\/?)a/g, '$1button');
      this.children[0].addEventListener('click', this.toggleLocale.bind(this));
    }

    get locale() {
      return parseLocale(document.documentElement.lang, 'en');
    }

    localizeHref(locale: Locale) {
      return location.href.replace(`/${this.locale}`, `/${locale}`);
    }

    toggleLocale() {
      const locale = this.locale === 'en' ? 'nl' : 'en';
      document.cookie = `locale=${locale};path=/;SameSite=Lax`;
      const localize = isLocalized(new URL(location.href));
      if (localize) location.href = this.localizeHref(locale);
      else location.reload();
    }
  }

  customElements.define('toggle-locale', ToggleLocale);
</script>

<style is:global>
  toggle-locale a,
  button {
    padding-inline: 1rem;
  }

  toggle-locale [astro-icon] {
    margin-right: 0.125rem;
  }
</style>
